/opt/llama
accelerate
bitsandbytes
click
dvc
einops
fairscale
fastparquet
fire
ipython
jupyter
jupyterlab
langchain
ninja
nltk
numpy
pandas
pymc
safetensors
scikit-learn
scipy
sentencepiece
theano
torch>=2.0.1
tqdm
transformers
xformers
